.logo {
  position: absolute;
  bottom: -40px;
  left: 50px;
  width: 100px;
  height: 100px;
  display: none;

  &__image {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  &__line {
    position: absolute;
    left: 0;
    right: 0;

    &:nth-child(1) {
      bottom: 0;
      top: 60%;
      background-color: var(--color-windsor);
    }

    &:nth-child(2) {
      bottom: 40%;
      top: 40%;
      background-color: var(--color-windsor);
    }

    &:nth-child(3) {
      bottom: 60%;
      top: 20%;
      background-color: var(--color-fresh-eggplant);
    }

    &:nth-child(4) {
      bottom: 80%;
      top: 0;
      background-color: var(--color-hollywood-cerise);
    }
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}