.navbar {
  background-color: var(--color-background-secondary);
  border: none;
  overflow: hidden;

  &-header {
    @media screen and (min-width: 768px) {
      float: right;
    }
  }

  &-custom .navbar-brand {
    color: var(--color-brand-secondary);

    &:hover {
      color: var(--color-text-hover);
    }
  }
}