.pager {
  li {
    a {
      padding: 0;
      background: none;
      border: none;
      color: var(--color-brand-secondary);
      text-transform: none;
      font-family: var(--font-family-secondary);
      font-size: 18px;
      font-weight: 700;

      &:hover {
        background: none;
        border: none;
        color: var(--color-text-hover);
      }
    }
  }
}