.post-preview .post-meta,
.post-heading .post-meta {
  font-style: normal;
  color: var(--color-brand-secondary);
}

.post-preview {
  border-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  &:after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--color-brand-secondary);
    max-width: 200px;
    box-shadow: 0px 0px 10px 3px var(--color-brand-secondary);
    margin: 30px auto 0 auto;
  }

  &:last-child:after {
    display: none;
  }

  &__image {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 auto 50px auto;

    a {
      margin-top: auto;
      margin-bottom: auto;

      .img-title {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 768px) {
      width: 20%;
      margin-top: 50px;
    }
  }

  &__content {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 80%;
      padding-left: 10%;
    }
  }

  .post-title {
    margin-bottom: 20px;
  }
  .post-entry {
    font-family: var(--font-family-primary);
  }

  .post-read-more {
    float: none;
    margin-top: 20px;
    display: inline-block;
    color: var(--color-brand-secondary);
    font-weight: 400;

    &:hover {
      color: var(--color-text-hover);
    }
  }

  .img-title {
    width: 100%;
    max-width: 100px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: auto;
      max-width: 100%;
    }
  }

  .post-meta {
    margin-bottom: 20px;
  }
}

.post-meta {
  &__text {
    margin-right: 15px;
  }

  i {
    margin-right: 5px;
    display: inline;
  }
}

.blog-pager {
  display: none;
}
