:root {
  --color-jaguar: #0d0221;
  --color-windsor: #650D89;
  --color-fresh-eggplant: #920075;
  --color-hollywood-cerise: #f6019d;
  --color-valhalla: #261447;
  --color-turquise: #2de2e6;
  --color-east-side: #af9dd0;
  --color-background-primary: var(--color-jaguar);
  --color-background-secondary: var(--color-valhalla);
  --color-brand-primary: var(--color-turquise);
  --color-brand-secondary: color(var(--color-hollywood-cerise) w(10%));
  --color-text-primary: var(--color-east-side);
  --color-text-hover: color(var(--color-brand-secondary) l(70%));
  
  --font-family-primary: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-secondary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}